.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 12vw;
    height: 17vh;
    padding: 12px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;

    .Contact-img {
        display: block;
        width: 11vh;
        margin-bottom: 10px;
        border-radius: 50%;
    }

}