.SearchBar {
    display: inline-flex;
    padding: 6px 12px;
    border: 1px solid grey;
    border-radius: 20px;

    .SearchBar-icon {
        margin-right: 5px;
    }

    .SearchBar-input {
        border: none;

        &.leftColumn {
            width: 21vw;
        }
    }
}