.ContactGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
    border-top: 2px solid black;

    .ContactGrid-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70;
        padding: 10px;
    }
}