.LetterFilter {
    width: 4vw;
    padding: 10px;
    border: 1px solid black;
    padding-top: 2vh;
    height: 92vh;

    .LetterFilter-letter {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2.6vh;
        margin-bottom: .8vh;
        border: 1px solid black;
        background-color: grey;
        border-radius: 20px;
    }
}