.LeftColumn {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.LeftColumn .LeftColumn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  padding: 1vh;
  border: 2px solid black;
  border-top: none;
  border-left: none;
}
.LeftColumn .LeftColumn-flex {
  display: flex;
}
