.ContactList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  width: 100%;
  border: 1px solid black;
}
.ContactList .ContactList-contacts {
  padding: 20px;
}
.ContactList .ContactList-contacts .ContactList-contact {
  font-size: 1.15vh;
  cursor: pointer;
}
