.ContactList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 92vh;
    width: 22vw;
    border: 1px solid black;

    .ContactList-contacts {
        padding: 20px;

        .ContactList-contact {
            font-size: 1.2vh;
        }
    }

}